<li class="shader-link-item">
<a href="{{include.link}}" download>
	{% if include.vid %}
	<video class="video-preview" autoplay playsinline muted loop>
		<source src="{{ include.vid | prepend: page.imagebase | prepend: site.baseurl }}">
		<img src="{{ include.image | prepend: page.imagebase | prepend: site.baseurl }}" alt="{{ include.name }}">
	</video>
	{% elsif include.gif %}
	<div class="gif_outer">
		<img class="static" src="{{ include.image | prepend: page.imagebase | prepend: site.baseurl }}" alt="{{ include.name }}" />
		<img class="active" src="{{ include.gif | prepend: page.imagebase | prepend: site.baseurl }}" alt="{{ include.name }}" />
	</div>
	{% else %}
	<img src="{{ include.image | prepend: page.imagebase | prepend: site.baseurl }}" alt="{{ include.name }}" />
	{% endif %}
	<span>{{ include.name }}</span>
</a>
</li>